*{
  color: white;
  font-family: 'Abel', sans-serif;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(3, 30, 102), rgb(11, 63, 249));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.crypto-header, .forex-header {
  font-weight: bold;
}

.navbar {
 padding: 2%;
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: space-evenly;
}
table {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}
td {
  border-bottom: 2px solid #009FFD;
  padding: 5px;
  text-align: center;

}

#pageBody {
 padding: 2%;
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 flex-wrap: wrap;
 justify-content: space-around;
 flex-flow: row wrap;
}

#highcharts-gmpwdp9-0{
  max-width: 40%;
}
/*
font-family: 'Abel', sans-serif;
font-family: 'Cuprum', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'BenchNine', sans-serif;
font-family: 'Pontano Sans', sans-serif; */

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009FFD;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}

#headline-image {
  width:15em;
  height:10em;
}

/* .indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -86px;
    margin-left: -89px;
    text-align: center;
} */
.indicator{
  color:#fff;
  position:relative;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.indicator:hover{
  background:#fff;
  color:#0fa0e8;
}
.indicator:before,.indicator:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #0fa0e8;
  transition:400ms ease all;
}
.indicator:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.indicator:hover:before,.indicator:hover:after{
  width:100%;
  transition:800ms ease all;
}

.popup {
  /* display: inline-block; */
   /* position: fixed; */
   /* top: 0;
   bottom: 0; */
   /* left: 0;
   right: 0; */
   margin:auto;
   position:absolute;
   width: 4em;
   height: 1em;
  /*
   top: 50%;
   left: 50%; */
   transform: translate(-50%, -50%);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.popup .popuptext {

    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 9px;
    /* padding: 8px 0; */
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    /* left: 50%; */
    /* margin-left: -80px; */
}

/* Popup arrow */
/* .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
} */

/* Toggle this class - hide and show the popup */
.popup .show {
  width: 500px;
  height: 400px;

    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.positive {
  background-color: green;
}

.negative {
    background-color: red;
}

#crypto-name {
  text-align: left;
}


#pie-chart {
  justify-content: center;
}

#holdings-table {
  justify-content: center;
}

#sector-name {
  text-align: left;
}

#pageBody {
  justify-content: center;
}

#news-feed {
  float:right;
}
