*{
  color: white;
  font-family: 'Abel', sans-serif;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(3, 30, 102), rgb(11, 63, 249));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.crypto-header, .forex-header {
  font-weight: bold;
}

.navbar {
 padding: 2%;
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: space-evenly;
}
table {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}
td {
  border-bottom: 2px solid #009FFD;
  padding: 5px;
  min-width: 200px;
}

#pageBody {
 padding: 2%;
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 flex-wrap: wrap;
 justify-content: space-around;
 flex-flow: row wrap;
}

#highcharts-gmpwdp9-0{
  max-width: 40%;
}
/*
font-family: 'Abel', sans-serif;
font-family: 'Cuprum', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'BenchNine', sans-serif;
font-family: 'Pontano Sans', sans-serif; */

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009FFD;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}
